@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 40 33% 98%;
    --foreground: 220 42% 18%;

    --card: 0 0% 100%;
    --card-foreground: 220 42% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 42% 18%;

    --primary: 36 45% 45%;
    --primary-foreground: 40 33% 98%;

    --secondary: 219 41% 25%;
    --secondary-foreground: 40 33% 98%;

    --muted: 220 14% 94%;
    --muted-foreground: 220 14% 45%;

    --accent: 36 45% 45%;
    --accent-foreground: 220 42% 18%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 40 33% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 36 45% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 42% 18%;
    --foreground: 40 33% 98%;

    --card: 220 42% 18%;
    --card-foreground: 40 33% 98%;

    --popover: 220 42% 18%;
    --popover-foreground: 40 33% 98%;

    --primary: 36 45% 45%;
    --primary-foreground: 220 42% 18%;

    --secondary: 219 41% 25%;
    --secondary-foreground: 40 33% 98%;

    --muted: 220 42% 18%;
    --muted-foreground: 220 14% 75%;

    --accent: 36 45% 45%;
    --accent-foreground: 40 33% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 40 33% 98%;

    --border: 219 41% 25%;
    --input: 219 41% 25%;
    --ring: 36 45% 45%;

    --radius: 0.5rem;
  }
}